<h2 style="font-family:Comic Sans MS">Add a place you visited</h2>

<%= form_with :model => @place do |form| %>
  <p style="font-family:Comic Sans MS">
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <%= form.submit %>
<% end %>